.dashboard {
            position: relative;
            width: 100%;
            height: 700px;
        }
        @media screen and (max-width: 430px) {
            #sampleContainer {
                padding: 0;
                margin: 0;
            }

            .outline {
                padding: 0;
                margin: 0;
            }

            #sample > section > * {
                margin: 0;
            }
        }